* {
  box-sizing: border-box;
  margin: 0;
  font-family: cursive;
  /* outline: solid red; */
}

h1, h2 {
  text-align: center;
}

h2 {
  font-size: 35px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

main {
  width: 100vw;
  height: 100vh;
  background-image: url("media/cooking_bg.png");
  background-size: cover;
}



.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items:center;
}

.title {
  font-size: 24px;
  background: white;
  font-weight: 100;
  background: rgba(0, 255, 255, 0.9);
  box-shadow: 0px 0px 5px rgb(0, 255, 255);
  padding: 8px;
}

h1, .list_recipes, .title {
  max-width: 1000px;
  width: 80%;
  margin: auto;
}

.list_recipes {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.icon {
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Card */

.card {
  background-color: rgb(255, 228, 196);
  border-radius: 20px;
  width: 400px;
  margin: 16px auto 16px auto;
  border-style: dashed;
  border-width: thin;
  border-color: #666666;
  display: flex;
}

.name-meals {
  width: 50%;
  color: red;
  margin: auto;
  font-weight: 900;
  text-align: center;
  font-size: larger;
}

.meals, .desserts {
  border: solid #32a1ce;
  border-width: thin;
  width: 500px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 5px rgb(255, 255, 255);
  border-radius: 9px;
}

.link {
  text-align: right;
  width: 20%;
  display: block;
}


.ex-img {
  object-fit: cover;
  width: 90px;
  height: 90px;
  margin: 12px;
  border: 1px solid #ff0000;
  outline: 1px solid orangered;
  outline-offset: -3px;
  padding: 4px;
}

.title_card {
  flex: 1 1 100%;
  font-size: 22px;
}

.title_card hr {
  border: 0;
  border-bottom: 1px solid;
  color: red;
  width: 50%;
  opacity: .5;
  margin: auto;
}

.comp_card {
  display: flex;
  flex-wrap: wrap;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 0;
  color: rgb(255, 120, 0);
  font-weight: 200;
  font-size: small;
}

.main_sub {
  font-weight: 900;
}

.comp_card hr {
  height: 30px;
  border: 0;
  border-right: 3px double #cf0f0f;
}

.card-text {
  display: flex;
  flex-wrap: wrap;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  width: 100%;
}